div {
  border: black solid 2px;
  width: 100%;
  border-radius: 5px;
}

.header {
  text-align: center;
  font-size: 2.5em;
  font-family: Palatino, "Palatino Linotype";
  background-color: #b3daff;
}

.container {
  background-color: #00b8e6;
  width: 100%;
}

.story {
  background-color: #e6ffff;
  width: 75%;
  margin: auto;
  padding: 20px 50px 20px 50px;
}

section {
  font-family: Palatino, "Palatino Linotype";
  font-size: 1em;
  color: black;
}

a {
  text-decoration: none;
  color: #0033cc;
}

a:hover {
  text-decoration: underline;
  color: #999999;
}

.story > section {
  display: none;
  white-space: pre-line;
}
.story > section:target {
  display: block;
}
.story > .intro {
  display: block;
}
.story > section:target ~ .intro {
  display: none;
}
