div {
  border: black solid 2px;
  width: 100%;
  border-radius: 5px;
  font-family: Palatino, "Palatino Linotype";
}

section {
  font-family: Palatino, "Palatino Linotype";
  font-size: 1em;
  color: black;
}
